.container {
}


.upcoming-words h1 {
  display: inline;
  padding-right: 10px;
}

.word-to-type {
  color: hsla(30, 75%, 50%, 1)
}

.upcoming-word-1 {
  color: hsla(30, 75%, 65%, 1)
}

.upcoming-word-2 {
  color: hsla(30, 75%, 80%, 1)
}

.upcoming-word-3 {
  color: hsla(30, 75%, 95%, 1)
}
